<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.imooc.androiduipatterns">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".customview.progress.CustomProgressActivity" />
        <activity android:name=".customview.progress.SystemProgressStyleActivity" />

        <activity android:name=".customview.customview.ShadowLayoutActivity" />

        <activity android:name=".popup.dragpopup.DragPopupActivity" />
        <activity android:name=".popup.popuplist.PopupListActivity" />

        <activity android:name=".listview.emptylist.EmptyOrLoadListViewActivity" />
        <activity android:name=".listview.scrollscalelist.ScrollScaleListViewActivity" />
        <activity android:name=".listview.pullzoomlist.PullZoomListViewActivity" />

        <activity android:name=".blur.fastblur.FastBlurActivity" />

    </application>

</manifest>
